body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EEEEEE;
  color: #000;
}

.navbar-nav.mr-auto li a{
  float:left;
  padding:0 10px;
  text-align: center;
  list-style-type: none;
}


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #ffcccc !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}

