body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #EEEEEE;
  color: #000;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #ffcccc !important;
}

.nav-link {
  color: #000 !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #fff;
  background-color: #fff;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: rgba(0, 0, 0, 0.25);
}

.login-body {
  background-color: rgba(0, 0, 0, 0.25);
}
@keyframes message{
  0%{
    opacity:1;
    display: block;
  }
  99% {
    opacity:0;
    display: block;
  }
  100%{
    opacity:0;
    display: none;
  }
}
.alert.alert-info.text-center.flash-message{
  display: block;
}
.alert.alert-info.text-center.flash-message.message{
  display: none;
  animation:message 2s linear 0s 1;
}